.WeatherComponent-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.weather-day{
    border: 1px solid #E2E2E2;
    font-weight: bold;
    /* width: 100px;
    height: 200px;
    margin: 20px; */
}

.weather-day-title{
    color: #243367;
}

.weather-day-max{
    color: #4E4A4A;
}

.weather-day-min{
    color: #817C7C;
}